# Dependencies
node_modules/

# Next.js build outputs
.next/

# Logs
npm-debug.log*
pnpm-debug.log*

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo

# Env files
.env
.env.local
.env.*.local

# Misc
.cache/
.vercel/

